<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>@Html.Raw(string.IsNullOrWhiteSpace(ViewData["Title"] as string) ? "SampSharp" : $"{ViewData["Title"]} - SampSharp")</title>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
<div class="head">
    <div class="menu">
        <div class="container">
            <a class="menu-toggle" href="#menu" data-toggle-target=".menu-list, .menu-toggle" data-toggle-class="is-open">
                <i class="fa fa-bars"></i>
            </a>
            <a class="brand logo" href="/">
                <img alt="SampSharp" src="/images/sampsharp.png">
            </a>
            <a class="brand" href="/">
                <strong>
                    SampSharp
                </strong>
            </a>

            <ul class="menu-list">
                <li>
                    <a href="/docs">Documentation</a>
                </li>
                <li>
                    <a href="/api">API</a>
                </li>
                <li>
                    <a href="http://github.com/ikkentim/SampSharp">GitHub</a>
                </li>
                <li>
                    <a href="http://github.com/ikkentim/SampSharp/releases">Download</a>
                </li>
            </ul>

            <div class="menu-placeholder"></div>
        </div>
    </div>
    @if (IsSectionDefined("Breadcrumbs") || IsSectionDefined("ToolButtons"))
    {
        <div class="breadcrumbs">
            <div class="container">
                <ul>
                    @RenderSection("Breadcrumbs", false)
                </ul>
                @RenderSection("ToolButtons", false)
                <a class="breadcrumbs-button for-mobile-flex" href="#content" data-toggle-target=".nav-container" data-toggle-class="is-open">
                    <i class="fa fa-list"></i> Contents
                </a>
            </div>
        </div>
    }
</div>
<div class="wide-container">
<div class="container">
<div class="nav-container">
    <div class="can-float">
        <div class="mobile-header">
            <span>
                Table of contents
            </span>
            <a href="#content" data-toggle-target=".nav-container" data-toggle-class="is-open">
                <i class="fa fa-close"></i>
            </a>
        </div>
        <div class="float-header">
            <p>A search bar and things</p>
        </div>
        <nav class="float-content">
            <ul class="tree">
                @RenderSection("ContentMenu")
            </ul>
        </nav>
    </div>
</div>
<main>
    <div class="content-heading">
        <h1>@ViewData["Title"]</h1>

        @RenderSection("Introduction", false)
    </div>

    @if (IsSectionDefined("InThisArticleInline"))
    {
        <div class="article-nav-inline article-nav">
            <div class="header">
                <span>In this article</span>
            </div>
            <ul class="content">
                @RenderSection("InThisArticleInline")
            </ul>
        </div>
    }

    <div class="content-body">
        @RenderBody()
    </div>
</main>

@if (IsSectionDefined("InThisArticle"))
{
    <div class="article-nav-container article-nav">
        <div class="can-float">
            <div class="float-header header">
                <span>In this article</span>
            </div>
            <ul class="float-content content">
                @RenderSection("InThisArticle")
            </ul>
        </div>
    </div>
}
</div>
</div>
<div class="footer">
    <div class="container">
        <span>
            SampSharp - Copyright &copy; 2015 - @DateTime.UtcNow.Year Tim Potze
        </span>
        <ul>
            <li>
                <a href="http://forum.sa-mp.com/showthread.php?t=511686">Forums</a>
            </li>
            <li>
                <a href="http://sampsharp.herokuapp.com/">Slack Chat</a>
            </li>
            <li>
                <a href="https://github.com/ikkentim/SampSharp/issues/">Report a Bug</a>
            </li>
        </ul>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script src="/script2.js?t=@DateTime.Now.Ticks"></script>
</body>
</html>
