@model DocumentationViewModel

@{
    ViewData["Title"] = Model.Title;
}

@section Breadcrumbs
{
    <li>
        <a href="/">SampSharp</a>
    </li>
    <li>
        <a href="/docs">Docs</a>
    </li>
    <li>
        <a href=".">@Model.Title</a>
    </li>
}

@section ContentMenu
{
    @foreach (var e in Model.Menu)
    {
        @await Html.PartialAsync("_TreeEntry", e)
    }
}
@section ToolButtons
{
    <a class="breadcrumbs-button not-mobile" href="@Model.EditUrl">
        <i class="fa fa-edit"></i> Edit on GitHub
    </a>
}

@section Introduction
{
    @Html.Raw(Model.Introduction)
}

@section InThisArticleInline
{
    @foreach (var link in Model.QuickLinks)
    {
        <li>
            <a href="@link.Link">@link.Name</a>
        </li>
    }
}

@section InThisArticle
{
    @foreach (var link in Model.QuickLinks)
    {
        <li>
            <a href="@link.Link">@link.Name</a>
        </li>
    }
}

@Html.Raw(Model.Content)
